@import '../../colors.scss';

.btn-search {

    background-color: $ACCENT_COLOR;
    border: 1px solid $ACCENT_COLOR;
    color:$TEXT_COLOR !important;

        &:hover{
            background-color: #ffffff;
            color:$PRIMARY_TEXT !important;

        }


}