
$DARK_PRIMARY_COLOR:#1976D2;
$LIGHT_PRIMARY_COLOR:#BBDEFB;
$PRIMARY_COLOR:#2196F3;
$TEXT_COLOR:#FFFFFF;
$ACCENT_COLOR:#009688;
$PRIMARY_TEXT:#212121;
$SECONDARY_TEXT:#757575;
$DIVIDER_COLOR:#BDBDBD;

